.films__container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-desktop);
  margin: 0 var(--margin-x);
}

@media (max-width: 450px) {
  .films__container {
    display: flex;
    justify-content: center;
  }

}

