.popup__container {
  display: flex;
  padding: 15px 20px;
  gap: 20px;
  width: 756px;
  font-family: var(--primary-font-family);
}

.popup__image {
  width: var(--image-w-desktop);
  height: var(--image-h-desktop);
  border-radius: var(--image-border-radius);
}

.popup__inner {
  display: flex;
  flex-direction: column;
  gap: var(--gap-desktop);
}
.popup__text {
  margin: 0;
  font-size: var(--typesetting-font-size-desktop);
  line-height: var(--typesetting-line-height-desktop);
}

.popup__title {
  font-family: var(--primary-font-family);
  font-size: var(--pageheading-font-size-desktop);
  line-height: var(--pageheading-line-height-desktop);
  font-weight: 600;
  margin: 0;
}

.popup__buttons {
  position: absolute;
  right: 20px;
  bottom: 15px;
}

