.films__container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-desktop);
  margin: 0 var(--margin-x);
}

.page__title {
  margin: 36px var(--margin-x) 15px;
  font-size: var(--pageheading-font-size);
}

.input-group,
.films__container-favorite {
  margin-left: var(--margin-x);
}

.input-group {
  display: flex;
  gap: 7px;
}

.films__select,
.films__search {
  font-size: var(--block-title-font-size);
}

@media (max-width: 450px) {

  .input-group {
    flex-direction: column;
  }

  .films__select,
  .films__search {
    width: 90%;
    margin: 0 auto;
  }

  .films__container,
  .films__container-favorite{
    display: flex;
    justify-content: center;
  }

}





