<h2 class="page__title">Популярные фильмы</h2>
<div class="input-group">
  <app-select [options]="genres" placeholder="Все" (selectValueEvent)="setGenre($event)"></app-select>
  <app-input type="text" placeholder="Введите название" (inputValueEvent)="setSearch($event)"></app-input>
</div>

<app-films-list [films]="films$ | async" [genre]="selectedGenre" [search]="searchTerm" [filterable]="true" [favoriteFilm]="favoriteFilm"/>

<ng-container *ngIf="favoriteFilm">
  <h2 class="page__title">Самый лучший фильм</h2>
  <app-films-list [films]="[favoriteFilm]" [filterable]="false" [favoriteFilm]="favoriteFilm"/>
</ng-container>

