.films__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 0 auto;
}

.films__container-favorite {
  margin-left: 25px;
}
.page__title {
  margin: 36px 25px 15px;
}
