@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
  --card-h: 400px;
  --card-w: 190px;
  --card-border-radius: 10px;
  --card-shadow: 0 0 15px rgba(29, 24, 56, 0.1);
  --image-h: 225px;
  --image-w: 150px;
  --image-border-radius: 5px;
  --gap-desktop: 10px;
  --primary-font-family: Montserrat, sans-serif;
  --typesetting-font-size: 12px;
  --typesetting-line-height: 14px;
  --block-title-font-size: 14px;
  --block-title-line-height: 16px;
  --pageheading-font-size: 20px;
  --pageheading-line-height: 22px;
  --margin-x: 25px;
}

@media (max-width: 450px) {
  :root {
    --margin-x: 10px;
    --card-h: 460px;
    --card-w: 255px;
    --image-h: 300px;
    --image-w: 200px;
    --pageheading-font-size: 26px;
    --pageheading-line-height: 28px;
    --typesetting-font-size: 14px;
    --typesetting-line-height: 16px;
    --block-title-font-size: 16px;
    --block-title-line-height: 18px;
  }
}

html, body { height: 100%; }
body {
  margin: 0 auto;
  max-width: 1440px;
  background: #f4f4f4;
}
